<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>汽车用品网</title>
		<meta name="description" content="汽车用品网是一个专为汽车打造,包含所有汽车周边用品的网站.">
		<meta name="keywords" content="汽车用品,网上购物,b2c,汽车周边" />
		<link rel="shortcut icon" href="../image/logo_favicon.ico">
		<link rel="stylesheet" href="dist/bootstrap.min.css">
		<link rel="stylesheet" href="css/carstyle.css">
		<link rel="stylesheet" href="css/cartstyle.css">
		<link rel="stylesheet" href="css/public.css">
	</head>
	<body>
		<div id="app">
			<header class="head">
				<div class="left">
					<span>哈喽！欢迎来到汽车用品网，快来寻找属于你的宝贝吧</span>
				</div>
				<div class="right">
					<div class="list">
						<template v-if="username"> 
							<span>欢迎&nbsp;&nbsp;{{username}}&nbsp;&nbsp;<a @click="logout()" href="#">退出登录</a></span>
						</template>
						<template v-else> 
							<span><a href="/car/login.html">登录</a>|<a href="/car/reg.html">注册</a></span>
						</template>
						
					</div>
					<div class="list">
						<span><a href="./service.html">客服及售后</a></span>
					</div>
					<div class="list">
						<span><a href="./order.html">我的订单</a></span>
					</div>
					<div class="list">
						<span><a href="cart.html">购物车</a></span>
					</div>
					<div class="list">
						<span><a href="index.html">首页</a></span>
					</div>
				</div>
			</header>
		  <div class="cart-nav">
			<img src="img/carmain/logo1.png" alt="汽车用品网">
			<span>订单页</span>
	  	</div>
		<div class="cart">
			<div class="order" v-for="item in orderList" :key="item._id">
      
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th colspan="2">订单号</th>
              <th>下单人</th>
              <th>联系电话</th>
              <th colspan="2">配送地址</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th colspan="2">{{item._id}}</th>
              <th>{{item.name}}</th>
              <th>{{item.phone}}</th>
              <th colspan="2">{{item.adress}}</th>
            </tr>
            <tr>
              <th>下单商品</th>
              <th>颜色</th>
              <th>尺寸</th>
              <th>单价</th>
              <th>数量</th>
              <th>总价</th>
            </tr>
            <tr v-for="iitem in item.goods">
              <th>{{iitem.goodsname}}</th>
              <th>{{iitem.color}}</th>
              <th>{{iitem.size}}</th>
              <th>{{iitem.price}}</th>
              <th>{{iitem.num}}</th>
              <th>{{iitem.price*iitem.num}}</th>
            </tr>
            <tr>
              <td colspan="3">
                <div class="leftbox">
                  <div class="left">
                    <span>总计</span>
                  </div>
                  <div class="center">
                    ￥<span>{{item.sum}}</span>
                  </div>
                  <div class="right">
                    订单状态：{{item.status}}
                  </div>
                </div>
              </td>
              <td colspan="3">
                <div class="rightbox">
                  <div class="left">
                    
                    <template v-if="item.status==='已支付'">
                      <input type="button" class="btn btn-primary" value="查看物流信息" @click="searchLogistics(item._id,item.logID)">
                    </template>
                    <template v-else>
                      <input type="button" class="btn btn-primary" value="支付" @click="tozhifu(item._id,item.goods)">
                    </template>
                  </div>
                  <div class="right">
                    <input type="button" class="btn btn-danger" value="删除订单" @click="delOrder(item._id,item.goods)">
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        
        <!-- 显示物流信息 -->
      <div class="logistics" :id="item._id">
        <ul>
          <li>始发地：{{start.start}}&nbsp;&nbsp;&nbsp;&nbsp;已发往：{{start.to}}</li>
          <li v-for="item in logisticsInfo" :key="item._id">{{item.start}}已收揽，下一站发往{{item.end}}</li>
          <li>包裹已经到达{{item.address}},请联系快递员{{end.phone}}</li>
        </ul>
        <span class="close" @click="closelog()">+</span>
      </div>
      </div>
		</div>

    <!-- toorder -->
		<div id="tozhifu" v-if="istozhifu">
      <img src="./img/shouqian.jpg" width="350px" height="350px" alt="付钱">
      <span id="close" @click="close()">+</span>
		</div>
		

	</div>
	</body>
</html>
<script src="js/jquery.js"></script>
<script src="js/js.js"></script>
<script src="../libs/js/vue.js"></script>
<script src="../libs/layer/layer.js"></script>
<script src="../libs/js/axios.min.js"></script>
<script src="js/order.js"></script>