<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>物流管理</title>
  <link rel="stylesheet" href="../libs/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/sys/sysmain.css">
  <link rel="stylesheet" href="../css/sys/order.css">
</head>
<body>
  
  <div id="sysapp">

    <!-- 一个订单页 -->
    <div class="order" v-for="item in logisticsList" :key="item._id">
      
      <table class="table table-bordered table-hover table-striped" >
        <thead>
          <tr>
            <th colspan="2">订单号</th>
            <th>下单人</th>
            <th>联系电话</th>
            <th colspan="2">配送地址</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th colspan="2">{{item._id}}</th>
            <th>{{item.name}}</th>
            <th>{{item.phone}}</th>
            <th colspan="2">{{item.adress}}</th>
          </tr>
          <tr>
            <th>下单商品</th>
            <th>颜色</th>
            <th>尺寸</th>
            <th>单价</th>
            <th>数量</th>
            <th>总价</th>
          </tr>
          <tr v-for="iitem in item.goods">
            <th>{{iitem.goodsname}}</th>
            <th>{{iitem.color}}</th>
            <th>{{iitem.size}}</th>
            <th>{{iitem.price}}</th>
            <th>{{iitem.num}}</th>
            <th>{{iitem.price*iitem.num}}</th>
          </tr>
          <tr>
            <td colspan="6">
              <div class="leftbox">
                <div class="left">
                  <span>总计</span>
                </div>
                <div class="center">
                  ￥<span>{{item.sum}}</span>
                </div>
                <div class="right">
                  订单状态：{{item.status}}
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <div class="input-group" style="width: 400px;">
                <template v-if="item.logID">
                  物流单号：{{item.logID}}
                </template>
                <template v-else>
                  <span class="input-group-addon">输入物流单号</span>
                <input type="text" name="logistics" class="form-control" v-model="item.logid">
                <span class="btn btn-primary input-group-addon" @click="updateLogID(item.id,item._id,item.logid)">确认</span>
                </template>
              </div>
            </td>
            <td colspan="3">
              <input type="button" value="查询物流状态" class="btn btn-primary" @click="searchLogistics(item._id,item.logID)">
            </td>
          </tr>
        </tbody>
      </table>
      
      <!-- 显示物流信息 -->
      <div class="logistics" :id="item._id">
        <ul>
          <li>始发地：{{start.start}}&nbsp;&nbsp;&nbsp;&nbsp;已发往：{{start.to}}</li>
          <li v-for="item in logisticsInfo" :key="item._id">{{item.start}}已收揽，下一站发往{{item.end}}</li>
          <li>包裹已经到达{{item.address}},请联系快递员{{end.phone}}</li>
        </ul>
        <span class="close" @click="close()">+</span>
      </div>
    </div>
  </div>
</body>
</html>
<script src="../libs/js/jquery.js"></script>
<script src="../libs/js/bootstrap.min.js"></script>
<script src="../libs/js/vue.js"></script>
<script src="../libs/js/axios.min.js"></script>
<script src="../libs/layer/layer.js"></script>
<script src="../js/sys/logistics.js"></script>